/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* FontAwesome CDN 4.7 */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* variables */
:root {
    --dark-gray: #252525;
    --green: #0d5d6d;
    --light-gray: #A09999;
    --beige: #fff9e8;
    --white: #fff;
    --yellow: #fff0c6;
}

/* common style */
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Pretendard-Regular';
    color: var(--dark-gray);
    line-height: 1.5;
    position: relative;
    cursor: url('../img/cursor.png'), auto;
}
.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
.title {
    font-size: 54px;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 80px;
    color: var(--green);
}
.content-inner {
    border: 1px solid var(--light-gray);
    border-radius: 20px;
    padding: 20px;
}
section {
    padding: 100px 0;
}

/* 햄버거 메뉴 애니메이션 시작 */
.mobile-nav {
    width: 36px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.mobile-nav span {
    width: 100%;
    height: 1px;
    background-color: rgba(19, 19, 19, 0.9);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.mobile-nav span:nth-child(2) {
    top: 50%;
}
.mobile-nav span:nth-child(3) {
    top: 100%;
}
.mobile-nav.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}
.mobile-nav.active span:nth-child(2) {
    display: none;
}
.mobile-nav.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}
/* 햄버거 메뉴 애니메이션 끝 */


/*  header 영역 */
#header {
    z-index: 1000;
    transition: 0.5s;
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: transparent;
    &.active {
        background-color: var(--white);
    }
    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            width: 44px;
            height: 44px;
            a {
                display: block;
                width: 100%;
            }
            img {
                width: 100%;
            }
        }

        .mobile-nav {
            display: none;
        }
        /* 네비게이션 영역 */
        nav {
            ul {
                display: flex;
                gap: 20px;
                font-family: "Alegreya Sans SC", sans-serif;
                font-size: 20px;
                .menu-list {
                    transition: 0.5s;
                    font-weight: 500;
                    &.active {
                        transform: translateY(-5px);
                    }
                    &:hover {
                        transform: translateY(-5px);
                    }
                    a {
                        height: 50px;
                        display: flex;
                        align-items: center;
                        padding: 0 20px;
                        color: var(--dark-gray);
                    }
                }
            }
        }
    }
}

/* #### Home 영역 #### */
#home {
    position: relative;
    height: 100vh;
    background-color: var(--beige);
    display: flex;
    justify-content: center;
    align-items: center;
    .home-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        div {
            font-size: 100px;
            font-family: "Abril Fatface", serif;
            font-weight: 400;
            font-style: normal;
            color: var(--green);
        }
        #dynamic {
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: -10px;
                width: 2px;
                height: 100%;
                background-color: var(--dark-gray);
            }
            &.on:after {
                display: none;
            }
            font-size: 24px;
            position: relative;
            display: inline-block;
        }
    }
    .scroll-down {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        color: var(--light-gray);
        font-family: "Alegreya Sans SC", sans-serif;
        font-weight: 300;
        span {
            display: block;
            width: 30px;
            height: 50px;
            border: 1px solid var(--light-gray);
            border-radius: 20px;
            position: relative;
            margin: 10px auto;
            &:before {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: var(--light-gray);
                left: 43%;
                top: 20%;
                animation: scroll 2s infinite;
            }
        }
    }
}

/* #### About-me 영역 #### */
#about-me {
    position: relative;
    background-color: var(--beige);
    .content-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        border: none;
        opacity: 0;
        transform: translateY(-100px);
        transition: 1s;
        &.active {
            opacity: 1;
            transform: translateY(0);
        }
        .left {
            border: 1px solid var(--light-gray);
            border-radius: 20px;
            width: 35%;
            padding: 20px;
            div {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .img-wrap {
                    border-radius: 20px;
                    overflow: hidden;
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .resume {
                    margin: 0 auto;
                    .resume-open {
                        cursor: pointer;
                        display: inline-flex;
                        border-radius: 100px;
                        color: var(--dark-gray);
                        position: relative;
                        height: 40px;
                        padding: 0 16px;
                        line-height: 40px;
                        &:before {
                            content: "";
                            display: block;
                            left: 0;
                            top: 0;
                            width: 40px;
                            height: 100%;
                            background-color: var(--yellow);
                            position: absolute;
                            border-radius: 100px;
                            z-index: 1;
                            transition: all 400ms ease;
                        }
                        &:hover:before {
                            width: 100%;
                        }
                        span {
                            z-index: 100;
                        }
                    }
                }
            }
        }
        .right {
            width: 65%;
            padding-left: 40px;
            .intro {
                display: flex;
                flex-direction: column;
                gap: 40px;
                p:first-child {
                    font-size: 28px;
                    color: var(--green);
                    font-weight: 600;
                    span {
                        position: relative;
	                    animation: ani_text 2s infinite linear;
                        margin-right: -3px;
                        &:nth-child(1) {
                            animation-delay: 0.1s;
                        }
                        &:nth-child(2) {
                            animation-delay: 0.2s;
                        }
                        &:nth-child(3) {
                            animation-delay: 0.3s;
                        }
                        &:nth-child(4) {
                            animation-delay: 0.4s;
                        }
                        &:nth-child(5) {
                            animation-delay: 0.5s;
                        }
                        &:nth-child(6) {
                            animation-delay: 0.6s;
                        }
                    }
                }
            }
        }
    }
}

/* #### Skills 영역 #### */
#skills {
    background-color: var(--yellow);
    .skill-desc {
        transition: 0.5s;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        transform: translateY(-50px);
        opacity: 0;
        background-color: transparent;
        &.active {
            transform: translateX(0);
            opacity: 1;
        }
        &:last-child {
            margin-bottom: 0;
            div {
                display: flex;
                gap: 20px;
            }
        }
        .skills-img {
            width: 64px;
            height: 64px;
            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
            }
        }
    }
}

/* #### Portfolio 영역 #### */
#portfolio {
    background-color: var(--beige);
    .content-site {
        /* 탭 메뉴 영역 */
        .tab {
            text-align: center;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            li {
                position: relative;
                padding: 0 10px;
                z-index: 100;
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 10%;
                    transform: translateY(-50%);
                    width: 0;
                    height: 50%;
                    background-color: var(--yellow);
                    transition: 0.5s;
                    border-radius: 10px;
                    z-index: -1;
                }
                &.active:before {
                    width: 82%;
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 16px;
                    background-color: var(--light-gray);
                    right: -3px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:last-child:after {
                    display: none;
                }
                button {
                    border: none;
                    background-color: transparent;
                    font-size: 20px;
                    width: 100%;
                    color: var(--dark-gray);
                    cursor: pointer;
                }
            }
        }
        /* 탭메뉴 상세 영역 */
        .view {
            border: 1px solid var(--light-gray);
            border-radius: 20px;
            .list-item {
                .img-prev {
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 50%;
                    border: 1px solid var(--light-gray);
                    border-radius: 10px;
                    overflow: hidden;
                    aspect-ratio: 3 / 4;
                    max-height: 480px;
                }
                &:nth-child(1) {
                    .img-prev {
                        background-image: url('../img/portfolio-site-01.png');
                        background-position: 0 0;
                        transition: 3s;
                        &:hover {
                            background-position: 0 100%;
                        }
                    }
                }
                &:nth-child(2) {
                    .img-prev {
                        background-image: url('../img/portfolio-site-02.png');
                        background-position: 0 0;
                        transition: 6s;
                        &:hover {
                            background-position: 0 100%;
                        }
                    }
                }
                &:nth-child(3) {
                    .img-prev {
                        background-image: url('../img/portfolio-site-03.png');
                        background-position: 0 0;
                        transition: 3s;
                        &:hover {
                            background-position: 0 100%;
                        }
                    }
                }
                &:nth-child(4) {
                    .img-prev {
                        background-image: url('../img/portfolio-site-04.png');
                        background-position: 0 0;
                        transition: 3s;
                        &:hover {
                            background-position: 0 100%;
                        }
                    }
                }
                &:nth-child(5) {
                    .img-prev {
                        background-image: url('../img/portfolio-site-05.png');
                        background-position: 0 0;
                        transition: 7s;
                        &:hover {
                            background-position: 0 100%;
                        }
                    }
                }
                &:nth-child(6) {
                    .img-prev {
                        background-image: url('../img/portfolio-site-06.png');
                        background-position: 0 0;
                        transition: 5s;
                        &:hover {
                            background-position: 0 100%;
                        }
                    }
                }
                &:nth-child(7) {
                    .img-prev {
                        background-image: url('../img/portfolio-site-07.png');
                        background-position: 0 0;
                        transition: 5s;
                        &:hover {
                            background-position: 0 100%;
                        }
                    }
                }
                &.active {
                    display: flex;
                }
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 80px;
                padding: 20px;
                display: none;
                .desc {
                    width: 50%;
                    h1 {
                        font-size: 32px;
                    }
                    p {
                        padding: 40px 0;
                    }
                    ul li {
                        margin-bottom: 4px;
                        span {
                            display: inline-block;
                            min-width: 100px;
                            font-weight: 600;
                        }
                    }
                    .btn-wrap {
                        margin-top: 40px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 16px;
                        .view-btn {
                            border: 1px solid var(--light-gray);
                            color: var(--dark-gray);
                            width: 120px;
                            padding: 8px 0;
                            text-align: center;
                            display: inline-block;
                            box-shadow: 0 0 5px var(--yellow);
                        }
                    }
                }
            }
        }
    }
    /* 디자인 상세 영역 */
    .content-design {
        h3 {
            font-size: 36px;
            font-weight: 800;
            font-family: "Alegreya Sans SC", sans-serif;
            text-align: center;
            margin: 80px 0 40px 0;
        }
        .modal {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.308);
            justify-content: center;
            align-items: center;
            z-index: 1000;
            display: none;
            &.on {
                display: flex;
            }
            .modal-close {
                padding: 10px 20px;
                border-radius: 10px;
                background-color: var(--green);
                color: var(--white);
                position: absolute;
                right: 20px;
                top: 10px;
                cursor: pointer;
                border: none;
            }
            .modal-content {
                max-width: 600px;
                width: 100%;
                max-height: 800px;
                overflow: auto;
                overscroll-behavior: contain;
               img {
                width: 100%;
               }
            }
        }
        .design-view {
            display: grid;
            grid-template-columns: repeat(4 , 1fr);
            gap: 20px;
            .design-list {
                border: 1px solid var(--light-gray);
                border-radius: 20px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1 / 1.5;
                img {
                    width: 100%;
                }
            }
        }
    }
}

/* #### Contact 영역 #### */
#contact {
    background-color: var(--yellow);
    .container .contact-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
       .img-wrap {
            width: 30%;
            max-width: 330px;
            img {
                width: 100%;
                object-fit: cover;
                aspect-ratio: 1;
                border-radius: 50%;
            }
        }
       .text-wrap {
            width: 70%;
            text-align: center;
            p {
                font-size: 36px;
                white-space: pre-line;
                font-weight: 600;
                margin-bottom: 40px;
            }
            div {
                font-size: 24px;
                font-weight: 300;
                padding-bottom: 20px;
                span {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    vertical-align: middle;
                    img {
                        width: inherit;
                        height: inherit;
                        object-fit: cover;
                    }
                }
                a {
                    padding-left: 20px;
                    color: var(--dark-gray);
                }
            }
        }
    }
}

/* #### footer 영역 #### */
footer {
    background-color: var(--green);
    height: 80px;
    .container {
        color: var(--white);
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* #### gotop 버튼 영역 #### */
.go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(30px);
    &.active {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ####### 태블릿 분기점 #######*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        padding: 0 16px !important;
    }
    section {
        padding: 80px 0;
    }
    .title {
        font-size: 48px;
    }
    /* #### Header 영역 ####*/
    #header {
        height: 62px;
        .container {
            h1 {
                width: 40px;
                height: 40px;
            }
            nav {
                position: fixed;
                top: 0;
                right: -60%;
                width: 60%;
                height: 100vh;
                background-color: var(--white);
                z-index: 1000;
                transition: 0.5s;
                &.active {
                    right: 0;  
                }
                ul {
                    display: block;
                    margin-top: 80px;
                    .menu-list {
                        padding: 16px 16px;
                        &:hover {
                            transform: none;
                        }
                        a {
                            padding: 32px 0;
                        }
                    }
                }
            }
    
            .mobile-nav {
                display: block;
                z-index: 2000;
                position: relative;
            }
        }
    }
    /* #### Home 영역 #### */
    #home {
        height: calc(var(--vh, 1vh) * 100);
        .scroll-down {
            font-size: 14px;
            span {
                display: block;
                width: 21px;
                height: 35px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: var(--white);
                    left: 43%;
                    top: 20%;
                    animation: scroll 2s infinite;
                }
            }
        }
    }
    /* #### About-me 영역 #### */
    #about-me {
        .content-inner {
            gap: 20px;
            .left {
                width: 50%;
            }
            .right {
                width: 100%;
                padding-left: 0;
            }
        }
    }
    /* #### Skills 영역 #### */
    #skills {
        li {
            margin-bottom: 48px;
            gap: 16px;
            &:last-child div {
                gap: 16px;
            }
        }
    }
    /* #### Portfolio 영역 #### */
    #portfolio {
        .content-site {
            .tab li button {
                font-size: 16px;
                }
            .view .list-item {
                gap: 16px;
            }
        }
        .content-design {
            .modal .modal-content {
                padding: 0 16px;
            }
            .design-view {
                grid-template-columns: repeat(3 , 1fr);
                .design-list {
                    border: 1px solid var(--light-gray);
                    border-radius: 20px;
                    overflow: hidden;
                    aspect-ratio: 1 / 1.5;
                }
            }
        }
    }
    /* #### Contact 영역 #### */
    #contact {
        .container .contact-inner {
            display: flex;
            flex-direction: column;
            gap: 16px;
        .img-wrap {
                width: 50%;
            }
        .text-wrap {
                width: 100%;
                text-align: center;
                p {
                    font-size: 24px;
                    margin-bottom: 32px;
                }
                div {
                    font-size: 20px;
                    padding-bottom: 16px;
                    a {
                        padding-left: 16px;
                    }
                }
            }
        }
    }
}


/* ###### 모바일 분기점 ###### */
@media screen and (max-width: 767px) {
    .container {
        padding: 0 16px !important;
    }
    .title {
        font-size: 40px;
        text-align: left;
        margin-bottom: 32px;
    }
    section {
        padding: 80px 0;
    }
    /* #### Header 영역 ####*/
    #header {
        height: 62px;
        .container {
            h1 {
                width: 40px;
                height: 40px;
            }
            nav {
                position: fixed;
                top: 0;
                right: -60%;
                width: 60%;
                height: 100vh;
                background-color: var(--white);
                z-index: 1000;
                transition: 0.5s;
                &.active {
                    right: 0;  
                }
                ul {
                    display: block;
                    margin-top: 80px;
                    .menu-list {
                        padding: 8px 16px;
                        &:hover {
                            transform: none;
                        }
                        a {
                            padding: 32px 0;
                        }
                    }
                }
            }
    
            .mobile-nav {
                display: block;
                z-index: 2000;
                position: relative;
            }
        }
    }
    /* #### Home 영역 ####*/
    #home {
        height: calc(var(--vh, 1vh) * 100);
        .home-title {
            padding: 0 16px;
            text-align: center;
            div {
                font-size: 64px;
            }
            #dynamic {
                font-size: 16px;
                &:after {
                    display: none;
                }
            }
        }
        .scroll-down {
            font-size: 12px;
            span {
                display: block;
                width: 21px;
                height: 35px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: var(--light-gray);
                    left: 43%;
                    top: 20%;
                    animation: scroll 2s infinite;
                }
            }
        }
    }
    /* #### About-me 영역 ####*/
    #about-me {
        .content-inner {
            display: flex;
            flex-direction: column;
            gap: 40px;
            .left {
                width: 70%;
                max-width: 270px;
                div .modal .modal-overlay .resume-img {
                    width: calc(100% - 32px);
                }
            }
            .right {
                width: 100%;
                padding-left: 0;
                .intro {
                    p:first-child {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    /* #### Skills 영역 #### */
    #skills {
        .skill-desc {
            margin-bottom: 48px;
            flex-direction: column;
            gap: 16px;
            &:last-child div {
                gap: 16px;
            }
        }
    }
    /* #### Portfolio 영역 #### */
    #portfolio {
        .content-site {
            .tab {
                text-align: center;
                margin-bottom: 40px;
                display: grid;
                grid-template-columns: repeat(3 , 1fr);
                justify-content: center;
                li {
                    position: relative;
                    padding: 8px 0;
                    border-radius: 10px;
                    button {
                        border: none;
                        background-color: transparent;
                        font-size: 16px;
                    }
                    &:after {
                        display: none;
                    }
                }
            }
            .view {
                .list-item {
                    flex-direction: column;
                    gap: 32px;
                    text-align: center;
                    .desc {
                        width: 100%;
                        ul li span {
                            display: block;
                        }
                        .btn-wrap {
                            justify-content: center;
                            .view-btn {
                                width: 80px;
                            }
                        }
                    }
                    .img-prev {
                        width: 50%;
                    }
                }
            }
        }
        .content-design {
            .modal .modal-content {
                padding: 0 16px;
            }
            .design-view {
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(2 , 1fr);
                gap: 16px;
                .design-list {
                    border: 1px solid var(--light-gray);
                    border-radius: 20px;
                    overflow: hidden;
                    aspect-ratio: 1 / 1.5;
                }
            }
        }
    }
    /* #### Contact 영역 #### */
    #contact {
        .container .contact-inner {
            display: flex;
            flex-direction: column;
            gap: 16px;
        .img-wrap {
                width: 60%;
            }
        .text-wrap {
                width: 100%;
                text-align: center;
                p {
                    font-size: 24px;
                    margin-bottom: 32px;
                }
                div {
                    font-size: 16px;
                    padding-bottom: 16px;
                    a {
                        padding-left: 16px;
                    }
                }
            }
        }
    }
}

/* #### 키프레임 애니메이션 #### */
@keyframes logoAni {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@keyframes logoring {
    0% {
    transform:rotate(48deg);
    }
    100% {
    transform:rotate(408deg);
    }
}

@keyframes scroll {
    0% {
        transform: translate(0 , 0);
        opacity: 0;
    }
    50% {
        transform: translate(0 , 20px);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ani_text { 
    0% { 
        top: 0; 
    } 
    20% { 
        top: -0.2rem; 
    } 
    40% { 
        top: 0 
    } 
    60% { 
        top: 0 
    } 
    80% { 
        top: 0 
    } 
    100% { 
        top: 0 
    } 
}
